@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
    --color-amarillo: #EAC926;
    --color-azul:#03264C;
    --color-celeste:#1259c3;
    --color-grisoscuro: #666;
    --color-grisclaro: #ebebeb;
    --color-verde: #39b54a;
}

*{
    font-family:'Roboto';
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}


h3{
    font-size: 16px;
    color: var(--color-grisoscuro);}